<form
  class="form-container"
  [formGroup]="form"
  fxLayout="column"
  fxLayoutAlign="center"
  (ngSubmit)="submitForm()"
>
  <p *ngIf="submitted" style="text-align: center; color: teal;">
    If you entered the correct email address, you should recieve an email within
    the next 24 hours.
  </p>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="text"
      placeholder="Email for your RE (i.e. primarycrec@gmail.com)"
      formControlName="email"
    />
  </mat-form-field>
  <button
    type="submit"
    mat-flat-button
    class="light-primary-color password-submit-button"
    [disabled]="this.form.invalid"
  >
    Submit
  </button>
</form>
