<div class="background">
  <div class="container">
    <mat-card class="card mat-elevation-z8">
      <a class="link" routerLink="/login"><i class="fa fa-arrow-left"></i></a>
      <mat-card-title>
        <img class="logo" />
      </mat-card-title>
      <mat-card-content>
        <ng-container [ngSwitch]="this.mode">
          <app-register
            *ngSwitchCase="'register'"
            (submit)="handleSubmit($event)"
          ></app-register>
          <app-create
            [email]="email"
            *ngSwitchCase="'verifyEmail'"
            (submit)="handleSubmit($event)"
          ></app-create>
          <app-reset-forgot
            [mode]="this.mode"
            *ngSwitchDefault
            (submit)="handleSubmit($event)"
          ></app-reset-forgot>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>
