<div class="default-primary-color container" *ngIf="this.getEmail()">
  <mat-card class="card mat-elevation-z8">
    <mat-card-title>
      <img [src]="logoLink" />
      <p class="primary-text-color">Create Password</p>
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="this.email"
            disabled="true"
          />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            class="primary-text-color"
            matInput
            type="password"
            [(ngModel)]="password"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Re Center</mat-label>
          <input matInput [(ngModel)]="selectedCenter" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Class</mat-label>
          <mat-select [(ngModel)]="selectedClass">
            <mat-option *ngFor="let re of classes" [value]="re">
              {{ re }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Shift Day</mat-label>
          <mat-select [(ngModel)]="selectedDay">
            <mat-option *ngFor="let day of this.days" [value]="day">{{
              day
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div
          class="time-form"
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="1%"
        >
          <mat-form-field fxFlex="44%">
            <mat-label>Start Time</mat-label>
            <input matInput type="time" [(ngModel)]="startTime" />
          </mat-form-field>
          <mat-form-field fxFlex="44%">
            <mat-label>End Time</mat-label>
            <input matInput type="time" [(ngModel)]="endTime" />
          </mat-form-field>
        </div>
      </div>
      <br />
      <button mat-stroked-button class="light-primary-color" (click)="submit()">
        SUBMIT
      </button>
      <br />
    </mat-card-content>
  </mat-card>
</div>
