.container {
  height: 100vh;
}

mat-card {
  border-radius: 15px;
  //transform: translate(-50%, -50%);
  opacity: 0.7;
  width: 400px;
  margin: auto;
  position: relative;
  // transform: translateY(50%);
  // border: black 1px solid;
}

mat-card-title {
  .fa-fingerprint {
    color: black;
  }
  text-align: center;
  p {
    font-weight: normal;
    font-size: 40px;
  }
}

mat-card-content {
  text-align: center;
  mat-form-field {
    width: 80%;
    display: inline-block;
  }
  app-timepicker {
    width: 80%;
    display: inline-block;
  }
}
