<div class="background">
  <div class="container">
    <mat-card class="card mat-elevation-z8">
      <a class="link" routerLink="/login"><i class="fa fa-arrow-left"></i></a>
      <mat-card-title>
        <img class="logo" [src]="logoLink" />
      </mat-card-title>
      <mat-card-content>
        <div
          class="form-container"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <mat-form-field
            appearance="fill"
            *ngIf="this.mode === 'register' || this.mode === 'reset'"
          >
            <mat-label>Email</mat-label>
            <input
              matInput
              type="text"
              placeholder="Email for your RE (i.e. primarycrec@gmail.com)"
              [(ngModel)]="this.email"
            />
          </mat-form-field>

          <!-- This is for registration only -->
          <ng-container *ngIf="this.mode === 'register'">
            <mat-form-field appearance="fill">
              <mat-label>Role</mat-label>
              <mat-select [(ngModel)]="register_selectedRole">
                <mat-option *ngFor="let role of user_roles" [value]="role">
                  {{ role }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>RE-Center</mat-label>
              <input
                placeholder="Where your center is located (i.e. Chicago)"
                class="primary-text-color"
                matInput
                [(ngModel)]="register_selectedCenter"
              />
            </mat-form-field>
          </ng-container>

          <!-- This is for creating password after registered. -->
          <ng-container
            *ngIf="this.mode !== 'register' && this.mode !== 'reset'"
          >
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input
                class="primary-text-color"
                matInput
                type="password"
                [(ngModel)]="create_password"
              />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Confirm Password</mat-label>
              <input
                class="primary-text-color"
                matInput
                type="password"
                [(ngModel)]="create_confirm_password"
              />
              <mat-error *ngIf="invalid">Passwords do not match</mat-error>
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="this.mode === 'verifyEmail'">
            <mat-form-field appearance="fill">
              <mat-label>Re Center</mat-label>
              <input matInput [(ngModel)]="create_selectedCenter" />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Class</mat-label>
              <mat-select [(ngModel)]="create_selectedClass">
                <mat-option *ngFor="let re of classes" [value]="re">
                  {{ re }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Shift Day</mat-label>
              <mat-select [(ngModel)]="create_selectedDay">
                <mat-option *ngFor="let day of this.days" [value]="day">{{
                  day
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div
              class="time-form"
              fxLayout="row"
              fxLayoutAlign="center center"
              fxLayoutGap="5%"
            >
              <mat-form-field fxFlex="45%">
                <mat-label>Start Time</mat-label>
                <input matInput type="time" [(ngModel)]="create_startTime" />
              </mat-form-field>
              <mat-form-field fxFlex="45%">
                <mat-label>End Time</mat-label>
                <input matInput type="time" [(ngModel)]="create_endTime" />
              </mat-form-field>
            </div>
          </ng-container>
          <br />
          <button
            mat-flat-button
            class="light-primary-color"
            (click)="submit()"
            [disabled]="!isValid()"
          >
            Submit
          </button>
        </div>
        <br />
        <br />
      </mat-card-content>
    </mat-card>
  </div>
</div>
