<div class="background">
  <div class="container">
    <mat-card class="card mat-elevation-z8">
      <a class="link" routerLink="/login"><i class="fa fa-arrow-left"></i></a>
      <mat-card-title>
        <img class="logo" />
      </mat-card-title>
      <mat-card-content>
        <ng-container [ngSwitch]="this.mode">
          <app-register
            *ngSwitchCase="'register'"
            (submit)="handleSubmit($event)"
          ></app-register>
          <app-create
            [email]="email"
            *ngSwitchCase="'verifyEmail'"
            (submit)="handleSubmit($event)"
          ></app-create>
          <app-forgot
            *ngSwitchCase="'forgotPassword'"
            (submit)="handleSubmit($event)"
          ></app-forgot>
          <app-reset-from-email
            *ngSwitchCase="'resetPassword'"
            (submit)="handleSubmit($event)"
          >
          </app-reset-from-email>
          <div class="not-found" *ngSwitchDefault>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/attendance-rec.appspot.com/o/pictures%2Fcant_find.png?alt=media"
            />
          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>
