.background {
  background-image: url("../../assets/pictures/login-screen.jpg");
  height: 100%;
}

.container {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

mat-card {
  border-radius: 5px;
  width: 400px;
  margin: auto;
  //display: flex;
  justify-content: center;
  overflow: hidden;
}

mat-card-title {
  text-align: center;
}

.form-container {
  mat-form-field {
    width: 100%;
  }
  margin: 0px 30px;
}

.not-found {
  text-align: center;
}
