@media screen {
  .container {
    margin: 20px;
  }
}

@media print {
  .container {
    width: 800px;
  }
  .noPrint {
    display: none;
  }
  .print {
    display: block;
    width: 100%;
  }
  .breaker {
    height: 140px;
    width: 100%;
  }
}
