<mat-toolbar tourAnchor="end">
  REC Attendance System
  <div class="divider"></div>
  <button mat-button class="sidelink" tourAnchor="qr_code" (click)="toQr()">
    QR Codes
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="btn-log-out">
    <mat-icon class="icon" tourAnchor="home_avatar">account_circle</mat-icon>
    <i class="fas fa-caret-down"></i>
  </button>
  <mat-menu #menu>
    <button (click)="logout()" mat-menu-item>
      Logout
    </button>
    <button (click)="changeOptions()" mat-menu-item>
      REC Options
    </button>
  </mat-menu>
</mat-toolbar>
