.background-color {
  height: 100%;
}

.background-image {
  height: inherit;
  background: url("../../assets/pictures/login-screen.jpg");
  opacity: 0.3;
}
mat-card {
  border-radius: 15px;
  position: absolute;
  width: 400px;
  top: 12%;
  right: 35%;
  opacity: 0.9;
  // border: black 1px solid;
}

.showing:before {
  content: "";
  position: absolute;
  top: 16px;
  right: 5px;
  justify-content: center;
  display: block;
  background-color: black;
  opacity: 0.8;
  height: 2px;
  width: 72%;
  transform: rotate(-45deg);
}

mat-card-title {
  .fa-fingerprint {
    color: black;
  }
  text-align: center;
  p {
    font-weight: normal;
    font-size: 40px;
  }
}

mat-card-content {
  text-align: center;
  mat-form-field {
    width: 80%;
    display: inline-block;
  }
}
