<ngx-flip [flip]="flipDiv">
  <div front>
    <mat-card class="mat-card-color mat-elevation-z2">
      <mat-card-title>
        <img class="logo" [src]="logoLink" />
      </mat-card-title>
      <mat-card-content>
        <div class="contain" fxLayout="column" fxLayoutAlign="center">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput id="email-input" type="text" [(ngModel)]="email" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              class="primary-text-color"
              matInput
              id="pw-input"
              [type]="getType()"
              [(ngModel)]="password"
              (keydown.enter)="onLoginClick()"
            />
            <button mat-icon-button matSuffix (click)="changeType()">
              <mat-icon
                class="eye"
                [ngClass]="{
                  showing: this.type === 'text'
                }"
                >remove_red_eye</mat-icon
              >
            </button>
          </mat-form-field>
          <br />
          <button
            mat-flat-button
            class="light-primary-color button"
            (click)="onLoginClick()"
          >
            SUBMIT
          </button>
          <div class="separator"></div>
          <a class="link" (click)="goToReset()">Forgot your Password?</a>
          <br />
          <a class="link" (click)="goToRegister()">Create an Account</a>
          <br />
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div back>
    <mat-card class="mat-card-color mat-elevation-z2">
      <a class="link" (click)="goBack()"><i class="fa fa-arrow-left"></i></a>
      <mat-card-title>
        <img class="logo" [src]="logoLink" />
      </mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field fxFlex="30%" color="primary" appearance="fill">
          <mat-select
            [(ngModel)]="this.currentConfig.re_center"
            placeholder="Center"
            (selectionChange)="makeChange(0)"
          >
            <mat-option *ngFor="let center of this.centers" [value]="center">
              {{ center }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="30%" color="primary" appearance="fill">
          <mat-select
            [(ngModel)]="this.currentConfig.re_class"
            placeholder="Class"
            (selectionChange)="makeChange(1)"
          >
            <mat-option *ngFor="let class of this.classes" [value]="class">
              {{ class }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="30%" color="primary" appearance="fill">
          <mat-select
            [(ngModel)]="this.currentConfig.re_shift"
            placeholder="Shifts"
            (selectionChange)="makeChange(2)"
          >
            <mat-option *ngFor="let shift of this.shifts" [value]="shift">
              {{ shift }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <br />
        <button mat-button class="light-primary-color" (click)="goToApp()">
          SUBMIT
        </button>
        <br />
        <br />
      </mat-card-content>
    </mat-card>
  </div>
</ngx-flip>
