html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

.separator {
  margin: 40px 0px;
  display: inline-block;
  align-self: center;
  width: 95%;
  height: 1px;
  border-bottom: 1px solid lightgray;
}

ngx-flip {
  background: url("../../assets/pictures/login-screen.jpg");
  z-index: 10;
  height: 100%;
  div {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  overflow: hidden;
}
mat-card {
  border-radius: 5px;
  //transform: translate(-50%, -50%);
  //opacity: 0.97;
  width: 400px;
  margin: 10px auto;
  // border: black 1px solid;
}

.eye {
  position: relative;
  top: 5px;
}

.showing:before {
  content: "";
  position: absolute;
  top: 11px;
  right: 2px;
  justify-content: center;
  display: block;
  background-color: black;
  opacity: 0.8;
  height: 2px;
  width: 90%;
  transform: rotate(-45deg);
}

.contain {
  margin: 10px 40px;

  .button {
    margin: 0px 10px;
  }
}

mat-card-title {
  text-align: center;
  p {
    font-weight: normal;
    font-size: 40px;
  }
}

mat-card-content {
  text-align: center;
}

.link {
  cursor: pointer;
}
