<header class="dialog-header">
  <span>CONFIRM</span>
</header>
<mat-dialog-content>
  {{ message }}
  <mat-divider></mat-divider>
  <app-generic-table
    [dataSource]="toDelete"
    [colNames]="colNames"
    [displayedColumns]="displayedColumns"
  ></app-generic-table>
</mat-dialog-content>
<mat-dialog-actions class="buttons right">
  <button mat-button color="warn" (click)="closeDialog(0)">
    Cancel
  </button>
  <button mat-button color="primary" (click)="closeDialog(1)">
    Ok
  </button>
</mat-dialog-actions>
