<header class="dialog-header">
  <span>CONFIRM</span>
</header>
<mat-dialog-content>
  <span> Below will be submitted. Are you sure? </span>
  <app-generic-table
    [displayedColumns]="displayedColumns"
    [dataSource]="[data.person]"
    [colNames]="colNames"
  ></app-generic-table>
</mat-dialog-content>
<mat-dialog-actions class="buttons right">
  <button mat-button color="warn" (click)="closeDialog($event)">
    Cancel
  </button>
  <button mat-button color="primary" (click)="closeDialog($event)">
    Ok
  </button>
</mat-dialog-actions>
