.container {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}
mat-form-field {
  margin: 5px;
}

div.dataFound {
  display: block;
}

.noDataFound {
  display: none;
}

img {
  width: 200px;
  align-self: center;
}
