<form
  class="form-container"
  [formGroup]="form"
  fxLayout="column"
  fxLayoutAlign="center"
  (ngSubmit)="registerUser()"
>
  <p *ngIf="submitted" style="text-align: center; color: teal;">
    If you entered the correct email address, you should recieve an email within
    the next 24 hours.
  </p>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="text"
      formControlName="email"
      placeholder="Email for your RE (i.e. primarycrec@gmail.com)"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Role</mat-label>
    <mat-select formControlName="selectedRole">
      <mat-option *ngFor="let role of user_roles" [value]="role">
        {{ role }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>RE-Center</mat-label>
    <input
      formControlName="selectedCenter"
      placeholder="Where your center is located (i.e. Chicago)"
      class="primary-text-color"
      matInput
    />
  </mat-form-field>
  <button
    type="submit"
    mat-flat-button
    class="light-primary-color password-submit-button"
  >
    Submit
  </button>
</form>
