<div class="form-container" fxLayout="row" fxLayoutAlign="space-between center">
  <mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select [(ngModel)]="person.Role">
      <mat-option *ngFor="let role of roles" [value]="role">
        {{ role }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="person.Name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Grade</mat-label>
    <mat-select [(ngModel)]="person.Grade" [disabled]="!hasGrade()">
      <mat-option *ngFor="let grade of grades" [value]="grade">
        {{ grade }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    color="primary"
    mat-flat-button
    [disabled]="!canBeAdded()"
    (click)="submit()"
  >
    Add
  </button>
</div>
<app-add-students-dialog-table
  [source]="_dataSource"
  (changes)="getChanges($event)"
></app-add-students-dialog-table>
<div class="actions">
  <button
    mat-raised-button
    color="primary"
    [disabled]="_dataSource.value.length < 1"
    (click)="closeDialog(true)"
  >
    Save
  </button>
  <button
    style="float:right;"
    mat-raised-button
    color="warn"
    (click)="closeDialog(false)"
  >
    Cancel
  </button>
</div>
