<div class="form-container">
  <mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select [(ngModel)]="person.Role">
      <mat-option *ngFor="let role of roles" [value]="role">
        {{ role }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="person.Name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Grade</mat-label>
    <mat-select [(ngModel)]="person.Grade" [disabled]="!hasGrade(person)">
      <mat-option *ngFor="let grade of grades" [value]="grade">
        {{ grade }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    color="primary"
    mat-stroked-button
    [disabled]="!canBeAdded()"
    (click)="submit()"
  >
    Add
  </button>
</div>
<div>
  <div *ngFor="let person of result; let i = index">
    <p fxFlex="95%">
      {{ print(person) }}
    </p>
    <button mat-icon-button (click)="undoAdd(i)">
      <mat-icon color="warn">clear</mat-icon>
    </button>
  </div>
</div>
<button
  mat-raised-button
  color="primary"
  [disabled]="this.result.length < 1"
  (click)="closeDialog(true)"
>
  Save
</button>
<button
  style="float:right"
  mat-raised-button
  color="warn"
  (click)="closeDialog(false)"
>
  Cancel
</button>
