<div fxLayout="column" class="qrobj" *ngIf="this.shouldExist">
  <button class="noPrint" mat-icon-button>
    <mat-icon
      matTooltip="Delete this Person?"
      matTooltipPosition="after"
      color="warn"
      (click)="sendDelete()"
      >block</mat-icon
    >
  </button>
  <!-- <button *ngIf="!this.shouldExist" class="noPrint" mat-icon-button>
    <mat-icon
      matTooltip="Undo Delete?"
      matTooltipPosition="after"
      color="primary"
      (click)="undoDelete()"
      >undo
    </mat-icon>
  </button> -->
  <div *ngIf="this.shouldExist">
    <div fxLayout="row" class="text">
      <p>{{ person.Name }}</p>
      <p>{{ person.Name }}</p>
    </div>
    <div fxLayout="row" class="images">
      <img [src]="this.qrlink" (error)="getDefaultUrl()" />
      <img [src]="this.piclink" (error)="getDefaultUrl()" />
    </div>
  </div>
</div>
