<form class="formitem" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
      <mat-option *ngFor="let role of roles" [value]="role">
        {{ role }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input
      formControlName="date"
      matInput
      [matDatepicker]="picker"
      placeholder="Select a Date"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Time</mat-label>
    <input formControlName="time" matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput />
  </mat-form-field>
</form>
