mat-form-field {
  margin: 0px 10px;
}

::ng-deep .mat-form-field-wrapper {
  padding: 5px 0px;
}

.container {
  width: 95%;
}

.button-submit {
  margin: 10px 0px;
}

.datepicks {
  color: black !important;
}
