mat-form-field {
  margin: 0px 5px;
}

::ng-deep .mat-form-field-wrapper {
  padding: 5px 0px;
}

.container {
  margin: 0px 20px;
  mat-divider {
    width: 100%;
  }
}

.button-submit {
  margin: 10px 0px;
}

.datepicks {
  color: black !important;
}
