<div class="container-dates">
  <div class="date">
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Select a Date"
        (dateInput)="addEvent($event)"
        [(ngModel)]="currentDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <mat-tab-group>
    <ng-container *ngFor="let grade of result; let i = index">
      <mat-tab *ngIf="grade.length > 0" [label]="grades[i]">
        <div class="table">
          <app-attendance-table
            [dataSource]="grade"
            [edits]="true"
            (changes)="saveEdits($event)"
          ></app-attendance-table>
        </div>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
  <div *ngIf="this.result.length < 1 && !this.loading">
    No Records Found for The Date: {{ currentDate.toDateString() }}
  </div>
  <mat-spinner *ngIf="this.loading"> </mat-spinner>
</div>
