.container-dates {
  ::ng-deep .mat-tab-label,
  .mat-tab-label-active {
    min-width: 0px !important;
    padding: 5px 10px !important;
    margin: 0px !important;
  }

  .date {
    margin: 20px;
  }

  // .table {
  //   height: 90%;
  //   overflow: auto;
  // }
}
