.container-dates {
  margin: 0px;
  padding: 5px;
  ::ng-deep .mat-tab-label,
  .mat-tab-label-active {
    min-width: 0px !important;
    padding: 2px 10px !important;
    margin: 0px !important;
  }

  .date {
    margin: 10px;
    padding: 0px;
  }
}
