<div
  *ngIf="this.schoolYear"
  class="container-dates"
  tourAnchor="attendance_attendance"
>
  <div class="date">
    <mat-form-field tourAnchor="attendance_date">
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Select a Date"
        (dateInput)="addEvent($event)"
        [(ngModel)]="currentDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button
      tourAnchor="attendance_download"
      style="float:right"
      mat-button
      color="primary"
      matTooltip="Download Attendance"
      (click)="downloadTodayAttendance()"
    >
      <i class="fas fa-download"></i>
    </button>
  </div>
  <mat-tab-group tourAnchor="attendance_tab">
    <ng-container *ngFor="let people of result; let i = index">
      <mat-tab *ngIf="people.length > 0" [label]="getTabLabel(i)">
        <div class="table">
          <app-attendance-table
            [dataSource]="people"
            [anchorTable]="i === 0"
            (changes)="saveEdits($event)"
          ></app-attendance-table>
        </div>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
  <div *ngIf="this.result.length < 1 && !this.loading">
    No Records Found for The Date: {{ currentDate.toDateString() }}
  </div>
  <mat-spinner *ngIf="this.loading"> </mat-spinner>
</div>
