<div class="table">
  <mat-slide-toggle color="primary" [checked]="true" #diss
    >Disable Name Buttons</mat-slide-toggle
  >
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let student"
        ><button
          mat-button
          [disabled]="diss.checked"
          [matTooltip]="student.Name"
          matTooltipPosition="above"
          [ngClass]="{
            absent:
              (student.isAbsent() || student.isExcused()) && !student.Reason,
            finished: student.isAbsent() && student.Reason && !student.editing
          }"
          (click)="openDialog(student)"
        >
          {{ student.firstAndLastName() }}
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="grade">
      <mat-header-cell *matHeaderCellDef> Grade </mat-header-cell>
      <mat-cell
        [ngClass]="{
          absent:
            (student.isAbsent() || student.isExcused()) && !student.Reason,
          finished: student.isAbsent() && student.Reason && !student.editing
        }"
        *matCellDef="let student"
      >
        {{ student.Grade }}
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let student">
        <mat-form-field class="status" appearance="outline">
          <mat-select
            [(ngModel)]="student.Status"
            [disabled]="!student.editing"
            placeholder="Status"
            (selectionChange)="makeChange(student)"
          >
            <mat-option
              *ngFor="let status of statuses; let i = index"
              [value]="status"
              [disabled]="student.Status === status"
            >
              {{ status }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="reason">
      <mat-header-cell *matHeaderCellDef> Reason </mat-header-cell>
      <mat-cell *matCellDef="let student">
        <span *ngIf="student.isPresent()">--</span>
        <mat-form-field
          class="reasons"
          *ngIf="!student.isPresent()"
          appearance="outline"
        >
          <mat-select
            [(ngModel)]="student.Reason"
            [disabled]="!student.editing"
            placeholder="Select Reason"
            (selectionChange)="makeChange(student)"
          >
            <mat-option
              *ngFor="let reason of reasons; let i = index"
              [value]="reason"
              [disabled]="student.Reason === reason"
            >
              {{ reason }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef> Comments </mat-header-cell>
      <mat-cell *matCellDef="let student">
        <span *ngIf="student.isPresent()">--</span>
        <mat-form-field *ngIf="!student.isPresent()">
          <input
            matInput
            [(ngModel)]="student.Comments"
            [disabled]="!student.editing"
            (input)="makeChange(student)"
          />
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let student">
        <button
          *ngIf="student.isAbsent() && !student.Reason && !student.editing"
          mat-raised-button
          color="primary"
          (click)="startEditing(student)"
        >
          Edit
        </button>
        <button
          *ngIf="(!student.isAbsent() || student.Reason) && !student.editing"
          mat-stroked-button
          color="primary"
          (click)="startEditing(student)"
        >
          Edit
        </button>
        <button
          *ngIf="student.editing"
          mat-raised-button
          color="warn"
          (click)="saveEdits(student)"
        >
          Finish
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
