<div class="table">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        Name
      </mat-header-cell>
      <mat-cell *matCellDef="let person; let i = index">
        <span
          *ngIf="anchorTable && i === 0"
          tourAnchor="attendance_name"
          class="attendance_name"
          [ngClass]="{
            normal: person.isPresent() || person.isTardy(),
            absent: (person.isAbsent() || person.isExcused()) && !person.Reason,
            finished:
              (person.isAbsent() || person.isExcused()) &&
              person.Reason &&
              !person.editing
          }"
          >{{ person.Name }}
        </span>
        <span
          *ngIf="!anchorTable || i !== 0"
          [ngClass]="{
            normal: person.isPresent() || person.isTardy(),
            absent: (person.isAbsent() || person.isExcused()) && !person.Reason,
            finished:
              (person.isAbsent() || person.isExcused()) &&
              person.Reason &&
              !person.editing
          }"
          >{{ person.Name }}
        </span>
        <!-- Below is if we want a dialog to open for contact info on that student-->
        <!-- <button
          mat-button
          disabled="false"
          [matTooltip]="person.Name"
          matTooltipPosition="above"
          [ngClass]="{
            normal: person.isPresent() || person.isTardy(),
            absent: (person.isAbsent() || person.isExcused()) && !person.Reason,
            finished: person.isAbsent() && person.Reason && !person.editing
          }"
          (click)="openDialog(person)"
        >
          {{ person.firstAndLastName().substring(0, 18) }}
        </button> -->
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let person">
        <mat-form-field class="status" appearance="outline">
          <mat-select
            [(ngModel)]="person.Status"
            [disabled]="!person.editing"
            placeholder="Status"
            (selectionChange)="makeChange(person)"
          >
            <mat-option
              *ngFor="let status of statuses; let i = index"
              [value]="status"
              [disabled]="person.Status === status"
            >
              {{ status }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="reason">
      <mat-header-cell *matHeaderCellDef> Reason </mat-header-cell>
      <mat-cell *matCellDef="let person">
        <span *ngIf="person.isPresent()">--</span>
        <mat-form-field
          class="reasons"
          *ngIf="!person.isPresent()"
          appearance="outline"
        >
          <mat-select
            [(ngModel)]="person.Reason"
            [disabled]="!person.editing"
            placeholder="Select Reason"
            (selectionChange)="makeChange(person)"
          >
            <mat-option
              *ngFor="let reason of reasons; let i = index"
              [value]="reason"
              [disabled]="person.Reason === reason"
            >
              {{ reason }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef> Comments </mat-header-cell>
      <mat-cell *matCellDef="let person">
        <span *ngIf="person.isPresent()">--</span>
        <mat-form-field appearance="outline" *ngIf="!person.isPresent()">
          <input
            matInput
            [(ngModel)]="person.Comments"
            [disabled]="!person.editing"
            (input)="makeChange(person)"
          />
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let person; let i = index">
        <button
          *ngIf="!person.editing"
          mat-raised-button
          color="primary"
          (click)="startEditing(person)"
        >
          <div *ngIf="anchorTable && i === 0" tourAnchor="attendance_edit">
            Edit
          </div>
          <div *ngIf="!anchorTable || i !== 0">
            Edit
          </div>
        </button>
        <button
          *ngIf="person.editing"
          mat-raised-button
          color="warn"
          (click)="saveEdits(person)"
        >
          Finish
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngClass]="{ teacher: row.Role === 'Teacher', ta: row.Role === 'TA' }"
    ></mat-row>
  </mat-table>
</div>
