.reasons {
  ::ng-deep {
    div.mat-form-field-wrapper {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
  }
}

button {
  padding: 0;
}

mat-cell:first-of-type,
mat-header-cell:first-of-type {
  padding-left: 0px;
  padding-right: 10px;
}

mat-header-row {
  padding: 0px 5px;
}

mat-cell {
  display: flex;
  justify-content: center;
}

.ta {
  background-color: rgba(211, 211, 211, 0.323);
}

.teacher {
  background-color: rgba(211, 211, 211, 0.727);
}
.table {
  height: 450px;
  overflow: auto;
  mat-form-field {
    width: 98%;
  }
}

mat-cell:nth-child(2),
mat-header-cell:nth-child(2) {
  flex: 0 0 10%;
}

mat-cell:nth-child(3),
mat-header-cell:nth-child(3) {
  flex: 0 0 10%;
}

mat-header-cell {
  display: flex;
  justify-content: center;
}

.absent {
  font-weight: bold;
  color: red;
}

.finished {
  font-weight: bold;
  color: teal;
}

.normal {
  font-weight: bold;
  color: black;
}

mat-spinner {
  position: absolute;
  top: 200px;
  left: 200px;
}

.container-dates {
  padding: 20px;
}
