<app-toolbar (itemClicked)="handleToolbarClick($event)"></app-toolbar>
<gridster [options]="options" tourAnchor="start_off">
  <gridster-item
    [item]="item"
    *ngFor="let item of dashboard; let ind = index"
    class="mat-elevation-z3"
  >
    <div class="bodys">
      <!-- <mat-tab-group *ngIf="item.headers">
        <mat-tab *ngFor="let c of item.headers" [label]="c.label">
          <ng-container *ngComponentOutlet="c.component"></ng-container>
        </mat-tab>
      </mat-tab-group> -->
      <div>
        <ng-container *ngComponentOutlet="item.component"></ng-container>
      </div>
    </div>
  </gridster-item>
</gridster>
